.accordion{
    cursor: pointer;
}
.accordion div {
    border-bottom: none;
    /* margin-bottom: 5px; */
}
.accordion div button{
    background-color: #E3E3E3;
    color: #000;
    border-radius: 10px;
    padding: 15px 50px;
    /* border: 1px solid #969595; */
    font-size: 30px;
    font-weight: 400;
    font-family: 'Aldrich';
}
.accordion div button svg{
    color: #fff;
}
.accordion div div div {
    font-size: 16px;
    background-color: #d4d3d3;
    color: #000;
    border-radius: 10px;
    border: 1px solid #969595;
}

@media screen and (max-width: 768px) {
    .accordion div button {
        font-size: 15px;
        font-weight: 400;
    }
}